.quiz-container {
  background-color: black;
  text-align: center;
  color: white;
  padding: 20px;
  position: relative;
}
.go-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: #978787;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.go-back-button:hover {
  background-color: #555;
}

.quiz-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-selection .level-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.quiz-selection .level-container .level {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.quiz-selection .level-container img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 0;
  margin-bottom: 10px;
}

.quiz-selection .level-container button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.quiz-selection .level-container button:hover {
  background-color: #555;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.quiz h2 {
  margin-bottom: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-button {
  display: block;
  border-radius: 20px;
  margin: 10px auto;
  padding: 15px 25px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #aa6161;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer-button:hover {
  background-color: #666;
}

.answer-button.correct {
  background-color: green;
  color: white;
}

.answer-button.incorrect {
  background-color: red;
  color: white;
}

.answer-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.answer-button.correct:disabled {
  background-color: green;
}

.answer-button.incorrect:disabled {
  background-color: red;
}
