.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
    background-color: #a7a3a3;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.footer p{
    margin-left: 10px;
}