/*.options-page {
    display: flex;
    flex-wrap: wrap; 
    color: rgb(2, 2, 2);
    gap: 10px; 
    justify-content: center; 
    padding: 20px;
  }
  .options-page * {
    font: 1em sans-serif;
    color: rgb(4, 5, 5);
  }
  .option-button {
    background-color: #a3a8ad; 
    color: black; 
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px; 
    cursor: pointer;
    text-align: center;
    flex: 1 1 150px; 
    box-sizing: border-box; 
    transition: background-color 0.3s ease; 
  }
  
  .option-button:hover {
    background-color: #5c5e61; 
  } */

  /* src/components/OptionsPage/OptionsPage.css */

.options-page {
  padding: 20px;
  text-align: center;
  color: white;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.option-button {
  padding: 15px 25px;
  font-size: 16px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.option-button:not(:disabled):hover {
  background-color: #3742fa;
}
